<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".DemoApplication">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Oc4jtnNykEgGzBEj53a7CfEOeh6c7g5b" />

        <activity
            android:name=".BaiduMap"
            android:label="地图" />
        <activity
            android:name=".TraverseSurvey"
            android:label="导线测量（请横屏）" />
        <activity
            android:name=".ThreeFourLeveling"
            android:label="三四等水准测量（请横屏）" />
        <activity
            android:name=".OrdinaryLeveling"
            android:label="普通水准测量（请横屏）" />
        <activity
            android:name=".NewEngineering"
            android:label="新建工程" />
        <activity
            android:name=".MainActivity"
            android:label="请选择"/>
        <activity
            android:name=".Cover"
            android:label="欢迎">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name="com.baidu.location.f" android:enabled="true"
            android:process=":remote">
        </service>
    </application>


</manifest>